@model SLAP_App.Models.AppraisalSeasonViewModel

@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>

<h3>Please reivew appraisal season data below. Are you sure you are ready to start the season?</h3>
<div>
	@Html.Partial("_AppraisalSeasonView", Model)
	<hr />
    @using (Html.BeginForm()) {
@*        @Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            @if (((IList<SLAP_App.Models.PCAssociateViewModel>)ViewBag.PcAssociateViewModels).Count > 0)
			{
				<input type="submit" value="Start" class="btn btn-default" />
			}
            @Html.ActionLink("Back", "Index", "Home")
        </div>
    }
</div>
