@model IEnumerable<SLAP_App.Models.PCAssociateViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssociateDisplayName)
        </th>
    </tr>

@foreach (var pcAssociateViewModel in Model) {
    <tr>
        <td>
            @Html.ActionLink(pcAssociateViewModel.AssociateDisplayName, "AssignPeersToAssociates", "PC", pcAssociateViewModel, new {title="Assign Peers to Associates"})
        </td>
        
    </tr>
}

</table>
